<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="sistevurdering.css">
        <title>Hovedside</title>
    </head>
    <body>
        <div class="header">
            <h1>Mine favorittprosjekter</h1>
            <p>Her er den første (Første) </p>
        </div>
        <div class="topnav">
            <a href="###########">Interaktiv historie</a>
            <a href="/konto">Kontoinnstillinger</a>
        </div>
    </body>
</html>