<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="sistevurdering.css">
        <title>Hovedside</title>
    </head>
    <body>
        <div class="header">
            <h1>Mine favorittprosjekter</h1>
            <h3>Her er den første</h3>
            <p id="klokke"></p>
            <script src="/klokke.js"></script>
        </div>
        <div class="topnav">
            <a href="/Interaktiv/Interaktiv historie25.html">Interaktiv historie</a>
            <a href="/konto">Kontoinnstillinger</a>
            <a href="/logout" style="float:right">Logg ut</a>
        </div>
        <div class="grid-container">
            <div class="grid-item"><h2>Hangman</h2> <p>lenkeplacholder</p></div>
            <div class="grid-item"><h2>Julefilm</h2> <p>lenkeplacholder</p></div>
            <div class="grid-item"><h2>Turistnettside New zealand</h2> <p>lenkeplacholder</p></div>
            <div class="grid-item"><h2>Kommentarfelt</h2> <p>lenkeplacholder</p></div>
        </div>
    </body>
</html>