<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/sistevurdering.css">
        <title>Hovedside</title>
    </head>
    <body>
        <header>
            <h1>Mine favorittprosjekter</h1>
            <p>Her er den første (Første) </p>
        </header>
        <div class="topnav">
            <a href="hovedside.ejs">Prosjekter</a>
            <a href="###########">Interaktiv historie</a>
            <a href="###########">Kontoinnstillinger</a>
        </div>
    </body>
</html>