<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="sistevurdering.css">
        <title>Kontoinnstillinger</title>
    </head>
    <body>
        <header>
            <h1>Kontoinnstillinger</h1>
            <!--Her skal folk kunne logge ut, endre på brukernavn eller passord og slette kontoene sine-->
        </header>
        <div class="topnav">
            <a href="/hovedside">Prosjekter</a>
            <a href="###########">Interaktiv historie</a>
        </div>
    </body>
</html>